/* estilo de productos  */

body {
  background-color: rgb(50, 50, 50);
}

.containerFlex {
  display: flex;
  width: 100%;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;

}


.containerList {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

}