body {
  background-color: rgb(102, 87, 87);
}

.product{
  justify-content: center;
  display: flex;
  padding: 15px;
  margin: 50px 50px;
  text-align: justify;
}


.containerFlex {
  display: flex;
  width: 100%;
  height: auto;
  margin: 100px auto;
  gap: 80px;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-content: normal;
  padding-right: 35px;
  padding-left: 35px;

}


.containerList {
  font-family: "Bebas Neue", sans-serif;
  font-style: normal;
  background-color: rgb(128, 91, 91);
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.list-group-item{
  background-color: rgb(231, 195, 195);
  border: 1px solid;
}
